<script setup lang="ts">

import axios from 'axios'

const scores = await axios.get('/scores')
  .then((res) => {
    return res.data
  })
  .catch((error) => {
    console.error(error);
  });

</script>

<template>
  <ul>
    <li v-for="score in scores">{{ score }}</li>
  </ul>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {

  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
